.wrapper {
    min-height: 50px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;

    > div {
        margin: auto;
        max-width: 600px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        button {
            margin: 10px;
            padding: 10px 20px;
            background-color: black;
            border: 2px solid white;
            color: white;
        }
    }
}